@import "tailwindcss";

body{
  font-family: "Urbanist", system-ui;
}

.bg-hero{
  background-image: url('assets/bg/hero.png');
}

h1{
  font-family: "Bagel Fat One", system-ui;
  
  background: linear-gradient(180deg, rgba(177, 201, 239, 1), rgba(99, 142, 203, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Optional for broader support */
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}