@import "tailwindcss";
@plugin "daisyui";

body{
  font-family: "Urbanist", system-ui;
}

.bg-hero {
  position: relative;
  z-index: 0;
}

.bg-hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('assets/bg/hero.png');
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* Adjust background opacity */
  z-index: -1;
}

h1{
  font-family: "Bagel Fat One", system-ui;
  
  background: linear-gradient(180deg, rgba(177, 201, 239, 1), rgba(99, 142, 203, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Optional for broader support */
  background-clip: text;
  color: transparent;
}

.bg-about{
  background: #B1C9EF;
  background: linear-gradient(0deg, rgba(177, 201, 239, 1) 0%, rgba(99, 142, 203, 1) 100%);
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}